@import "tailwindcss";

@font-face {
  font-family: "Rokh";
  src: url("/fonts/Rokh-Black.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --font-rokh: "Rokh", sans-serif;
  --font-peyda: "Peyda", sans-serif;
}

.font-rokh {
  font-family: var(--font-rokh);
}

.font-peyda {
  font-family: var(--font-peyda);
}

body {
  font-family: var(--font-peyda);
}

@theme {
  --animate-orbit-left: orbitLeft 20s infinite;
  --animate-orbit-right: orbitRight 20s infinite;

  @keyframes orbitLeft {
    0% {
      transform: rotate(0deg) translateX(260px) rotate(0deg);
    }

    24.99% {
    }

    25% {
      transform: rotate(90deg) translateX(260px) rotate(-90deg);
    }

    50% {
      transform: rotate(180deg) translateX(260px) rotate(-180deg);
    }

    75% {
      transform: rotate(270deg) translateX(260px) rotate(-270deg);
    }

    100% {
      transform: rotate(360deg) translateX(260px) rotate(-360deg) scale(1.3);
    }
  }

  @keyframes orbitRight {
    0% {
      transform: rotate(0deg) translateX(-260px) rotate(0deg);
    }

    25% {
      transform: rotate(-90deg) translateX(-260px) rotate(90deg);
    }

    50% {
      transform: rotate(-180deg) translateX(-260px) rotate(180deg);
    }

    75% {
      transform: rotate(-270deg) translateX(-260px) rotate(270deg);
    }

    100% {
      transform: rotate(-360deg) translateX(-260px) rotate(360deg) scale(1.3);
    }
  }

  /* Mobile Screen */

  --animate-mobile-orbit: mobileOrbit 20s infinite;
  --animate-mobile-active: mobileActive 20s infinite;

  @keyframes mobileOrbit {
    0%,
    20% {
      transform: translateX(0%);
    }

    25%,
    45% {
      transform: translateX(-100%);
    }

    50%,
    70% {
      transform: translateX(-200%);
    }

    75%,
    95% {
      transform: translateX(-300%);
    }

    100% {
      transform: translateX(-400%);
    }
  }

  @keyframes mobileActive {
    0%,
    20% {
      transform: translateY(-16px) scale(1.12);
    }

    25%,
    100% {
      transform: translateY(0) scale(1);
    }
  }
}
